@*@model IEnumerable<MobileStore.Models.Phone>*@
@using MobileStore.Models
@model IEnumerable<MobileStore.Models.Phone>
    @{
        ViewData["BuyCounter"] = TopNavigationBar.BuyCounter;
    }

    <title>MobileStore</title>
    <style>
        .btn {
            border-right-color: green; /* колір для обводки*/
            border-left-color: green; /* колір для обводки*/
            border-block-color: green; /* колір для обводки*/
            color: green; /*колір тексту*/
        }

            .btn:hover {
                background-color: forestgreen; /*колір при наводженні*/
                color: white; /*колір тексту при наводженні*/
            }
        input[type=button] {
            background-color: #04AA6D;
            border: none;
            color: white;
            padding: 4px 20px;
            text-decoration: none;
            margin: 0px 0px;
            cursor: pointer;
            border-radius: 10px;
            font-size: 18px;
        }
    </style>
<h2 style="padding: 20px 0px; text-align: center; font-weight: bold;">Каталог смартфонів</h2>

<form class="form-inline" style=" padding-bottom: 20px;">

    <div style="padding-right: 10px">
        <span class="text" style="font-size: 16px;">Сортування:</span>
        <select style="padding: 10px; background: #e6ffe9; border: none; border-radius: 5px; font-size: 16px;" name="sortType"
                asp-items="FilterViewSortType.SortTypes" asp-for="@FilterViewSortType.SelectedName"></select>
    </div>
    <div style="padding-right: 20px">
        <span class="text" style="font-size: 16px;">Виробник:</span>
        <select style="padding: 10px; background: #e6ffe9; border: none; border-radius: 5px; font-size: 16px;" name="producerName"
                asp-items="FilterViewProducer.Producers" asp-for="@FilterViewProducer.SelectedName"></select>
    </div>
        <span class="text" style="font-size: 16px;">Діапазон ціни:</span>

        <div style="padding-left: 10px;">
            <input class="form-control mr-sm-2" type="search" placeholder="мін. ціна" name="minPrice" 
            value="@FilterViewPrice.MinPrice">
        </div>

        <div style="padding-left: 10px">
            <input class="form-control mr-sm-2" type="search" placeholder="макс. ціна" name="maxPrice"
            value="@FilterViewPrice.MaxPrice">
        </div>

        <div style="padding-left: 10px">
            <button class="btn" type="submit" >Знайти</button>
        </div>

</form>

    <table class="table table-striped table-condensed table-hover" style="background-color: #E0FFFF; ">
        <tr>
            <td>Модель</td>
            <td>Виробник</td>
            <td>Ціна</td>
            <td></td>
        </tr>
        @foreach (var phone in @Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => phone.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => phone.Company)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => phone.Price)
                </td>
                <td>
                    @*<a href="~/Home/Index/@phone">*@
                        <form action="~/Home/AddPhone/@phone.Id">
                        <button class="btn" type="submit"  size="small">Купити</button>
                        </form>
                        @*</a>*@
                </td>
            </tr>
        }
    </table>
   
